/* @override http://localhost:8080/Plone/++theme++medialog.childtheme/++theme++medialog.childtheme/static/childtheme.css */

/* Stylesheet for the 'ICustomTheme' Plone browser layer */

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	
}

.smallText {
	font-size: 95%;;
}

.largeText {
	font-size: 120%;
	line-height: 160%;
}

header#portal-top {
	 clear:  both;
	 display: block;
	 margin-top: 60px;
	 
}

ul#slider {
	margin-bottom:2em;
}
 
.hiddenStructure {
	
	display:  none;
}


a {
	text-decoration: none;
 
	color: #006F9A;
}
 

a.summary.url:hover,
a:hover,a:active {
    color: #0093ac;
	outline: 0;
}

h1 a {
	color: #c31723;
}


h1,h2,h3,h4,h5,h6 {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: normal;
	color: #333;
}

.social {
	margin: 10px 0 20px 0;
	text-align: center
}

.social a {
	opacity: 0.85;
	margin-left: 5px;
	margin-right: 5px;
	transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
}

.social a:hover {
	opacity: 1;
}

img.button {
	margin-left: 2%;
	margin-right: 2%;
	width: 28%;
	height: auto;
	opacity: 0.8
}

img.button:hover {
	opacity: 1;
}

.social a:hover img {
	opacity: 1;
	height:  52px;
	width:  52px;;
	margin: -2px;
}

.nav-tabs .dropdown-toggle .caret {
    margin: 8px 0;
}

.dropdown-toggle {     
	padding-left: 7px;
    padding-right: 8px
    
    }
 

/* Slider */
	p.slidedescription {
	z-index:  3;
	position: absolute;
	bottom:  3%;
	left:  3%;
	display: block !important;
 	color:  white;
 	font-size: 90%;
	font-style: italic;
}
.slidetitle {
	z-index:  2;
	position: absolute;
	bottom:  13%;
	left:  3%;
	background: #FFF;
	opacity: 0.5;
	padding: 0.15em 0.6em;
	border-radius: 15px;
}

.rslides_tabs li  {
	border:  1px solid #AAA;
	text-align: center;
	list-style-type: none;
	list-style-image: none;
	display: inline;
	margin-left: 7px;
	padding: 6px 10px;
}


.slider li:first-child {
	position: relative;
	display: block;
	float: left;
}

.slider img {
	display: block;
	height: auto;
	float: left;
	width: 100%;
	border: 0;
}

a.rslides_nav.rslides1_nav.next {
	float: right;
}




/* @end */ 